*{
    margin: 0%;
    padding: 0%;
}

header{
    background: linear-gradient(to right, #FDD100 ,#ffbb00);
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

a > img{
    width: 150px;
    margin: 36px 15px;
}

a{
    text-decoration: none;
    color: black;
    padding:0 25px;     
    color: aliceblue;   
}

button{
        border: none;
        padding: 10px 20px;
        font-size: 15px;
        color: aliceblue;
        border: 2px solid #ffff;
        background-color: transparent;
        border-radius: 10px;
}

section{
    display: block;        
}

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{        
    align-items: center;
    margin-top: 35px;        
    width: 800px;
    height: 100%;
    background-color: #77b2f59c;
}














footer{
    background-color: rgb(187, 238, 2);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    
}