*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    background-color: aliceblue;
    height: 80px;
    /*  */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*  */
    
}
div > img.logo {
    width: 180px;
}

div > a.cabecalho{
    margin: 30px;
}

main{
    height: 100vw;
    background-color: rgba(228, 170, 12, 0.801);
    width: 100%;
    margin: auto;
}
.caixa2{
    
}